* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   
    background-color: #f4f4f4;
    background-image: url('./img/loginpg.png');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    background-color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    color: #2c1338;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.input {
    position: relative;
    margin-bottom: 1.5rem;
}

.input i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9e9e9e;
    font-size: 1.5rem;
}

.input label {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-60%);
    color: #9e9e9e;
    font-weight: 500;
    font-size: 1rem;
    transition: 0.3s ease-in-out;
    pointer-events: none;
}

.input input {
    width: 100%;
    padding: 0.8rem 1rem 0.8rem 40px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}

.input input:focus {
    border-color:  hsl(346, 100%, 63%);
}

.input input:focus + label,
.input input:not(:placeholder-shown)+label {
    top: -10px;
    font-weight: 250;
    font-size: 1rem;
    color: #2c1338;
}



.input input:placeholder-shown + label {
    top: 50%;
    transform: translateY(-50%);
    color: #c6b8b8;
}
.input input:focus {
    border-color: #382c13;
}






.show-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #9e9e9e;
    cursor: pointer;
    font-size: 0.9rem;
}


button {
    width: 100%;
    padding: 0.8rem;
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 1rem;
    box-shadow: 0 4px 8px rgba(255, 75, 43, 0.3);
}

button:hover {
    background: linear-gradient(90deg, #ff4b2b, #ff416c);
}


.login {
    font-size: 0.85rem;
    color: #6d6d6d;
    margin-top: 1rem;
}

.login a {
    color: #2c1338;
    font-weight: bold;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}
